/* .headerchinh {
	background: url("https://cdn.pixabay.com/index/2019/06/20/10-58-01-525_1440x480.jpg");
	/* background: no-repeat; */
	/* background-size: cover; */
/***************************************************menu letf top*********************************************************/
.header .menu-left li:hover {
	color:black;
	background-color: #fff
	/* background-color:black; */
}
.header{	
	background: url("https://cdn.pixabay.com/index/2019/06/20/10-58-01-525_1440x480.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
}
.header .bg-light {
	background-color: transparent !important;
}
.header a {
	color: #fff;
}
.header .navbar-light .navbar-nav .nav-link a:hover {
	text-decoration: underline;
	color: coral;
}
p{
	color: #fff;
}
h5 {
	font-size: 1.25rem;
	color: white;
}
h9 {
	color: white;
}
.header .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header .logo{
	margin-top: 0px;
	padding-top: 0px;
}
.logo img{
	margin-top: 0px;
	padding-top: 0px;
}
h9 a:hover {
 color: goldenrod;
} 
.logo img {
	margin-top: -36px;
	padding-top: 0px;
}
/******************************************************************content************************************************************************/
.content{
	width: 100%;	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
.txt {
  width: 96%;
  /*height: 100%;  full cả ảnh */
  background-color: black;
  position: absolute;
  bottom:54px;
  text-align: center;
	color: white;
  padding:10px;
  box-sizing: border-box;
  opacity: 0;
}
.img:hover div.txt {
  opacity: 0.5;
  transform: translateY(53px);
  transition:ease-in-out 0.5s;
}
.conten-imga {
	padding-top: 6px;
	/* padding-bottom: 0px; */
	padding-left: 0 !important;
	/* padding-left: 1px; */

	padding-right: 0px;
}
span:hover {
	cursor: context-menu;
	color: orange;
}
.dropdown .drop-toggle {
	/* white-space: nowrap; */
	background-color: green;
}

/*************************************************************footer**************************************************************************/
.footer{
	background-color: black;
}
address {
  color: #fff;
  display: inline-block;
}
.footer .principal .slogan{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
}
address span {
  font-weight: 600;
}
address a {
  color: #fff;
}
address a:hover {
  text-decoration: underline;
}
li{
	float: left;
	padding: 10px;
}
.footer.poeple p{
	float: right;
	bottom: 0px;
	padding-right: 0px;
}
/***********************************************************introduce****************************************************************/
.header-intro{
	background: url("https://cdn.pixabay.com/photo/2019/06/07/10/44/sunset-4257963__340.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
}
.header-intro .bg-light {
	background-color: transparent !important;

}
.header-intro .menu-left li:hover {
	color:black;
	background-color: #fff
	/* background-color: #fff */
}
.header-intro .navbar-light .navbar-nav .nav-link {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
.header-intro a {
	color: #fff;
}

.header-intro .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header-intro .logo{
	margin-top: 0px;
	padding-top: 0px;
}

.conten-intro{
	padding-top: 50px;
}
.bt-intro Button{
width: 100%;
background-color: darkgreen;
	margin-top: 90px
}

.img-intro{
	margin-top: 90px
}
.footer-intro{
	margin-top: 20px;
}
.footer-intro Button{
	background-color: darkgreen;
}
.nav-link {
	color: white;
}
.text-content Button{
	background-color: darkgreen;
}

/* .txt { */
  /* width: 100%;
  height: 100%;  full cả ảnh */
  /* background-color: black;
  position: absolute;
  bottom:70px;
  text-align: center;
  color: white;
  padding:10px;
  box-sizing: border-box;
  opacity: 0;
}
.img:hover div.txt {
  opacity: 0.5;
  transform: translateY(53px);
  transition:ease-in-out 0.5s;
} */

/***********************************************************help********************************************************************************/

.header-help{
	background: url("https://cdn.pixabay.com/photo/2016/05/05/02/35/hot-air-ballons-1373167_960_720.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
}
.header-help .bg-light {
	background-color: transparent !important;

}
.header-help .menu-left li:hover {
	color:black;
	background-color: #fff
	/* background-color: rgb(73, 73, 73)*/
} 
.header-help .navbar-light .navbar-nav .nav-link {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
.header-help a {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.header-help .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header-help .logo{
	margin-top: 0px;
	padding-top: 0px;
}

.conten-Help{
	margin-top: 20px;
}

/*****************************************************************************contact*************************************************************************/

.Contact-header{
	background: url("https://cdn.pixabay.com/photo/2019/06/25/04/40/light-4297386__340.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
}
.Contact-header .bg-light {
	background-color: transparent !important;
}
.Contact-header .navbar-light .navbar-nav .nav-link {
	color: white;
	font-family: Arial, Helvetica, sans-serif;	
}
.Contact-header a {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.Contact-header .menu-left li:hover {
	color:black;
	background-color: #fff
	/* background-color: #fff */
}
.Contact-header .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.Contact-header .logo{
	margin-top: 0px;
	padding-top: 0px;
}
.contact-text{
	padding-top: 90px;
}
.conten-Contact Button{
	background-color:green;
}
.conten-Contact{
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
}
/*********************************************detail************************************/
.mainDetail{

}
.relatedImg{
	padding-top: 10px;
	padding-left: 0!important;
}
.headerDetail{
	background-color: white;
	/* border-bottom: 1px solid gray; */
}
.logo{
	top: 20px;
}
.search {
	top: 20px;
}
.button{
	top: 20px;
}
.button1{
	margin-right: -6px;
}
.conten-imgDetai{
	padding-left: 10px;
}
.imgDetail .row{
	align-content: center;
}
Button{
	margin-right: 0!important;
}
.button Button{
	color: #fff;
	background-color: green;
	border-color: #6c757d;
	margin-left: 0px;
}

.lits .List-Group-Item  {
	background-color: green;
}
.lits .m  {
	margin-left: 20px;
}
.txtDetail {
  width: 94.5%;
  height: 100%;
  background-color: black;
  position: absolute;
  bottom:54px;
  text-align: center;
	color: white;
  padding:10px;
  box-sizing: border-box;
	opacity: 0;
}
.img:hover div.txtDetail {
  opacity: 0.5;
  transform: translateY(53px);
	transition:ease-in-out 0.5s;
	align-content: center;
	text-align: center;
}
/* .textDetail p{
	color: black;
} */
/************************************************************hiieu úng cho hình ảnh *****************************************/

/* .imge-introduce {
	width: 500px;
	height: 450px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}

.imge-introduce img {
	width: 100%;
	height: 100%;
	transition-duration: 0.3s;
}

.imge-introduce img:hover {
	transform: scale(1.2);
} */

/****************************************** responsive *******************************************************/
/* .col-3 {
	flex: 0 0 100%;
	max-width: 100%;
} */

/******************************************error_page*********************************************************/
.mainError .notFound p{
	color: brown;
}

