/* .headerchinh {
	background: url("https://cdn.pixabay.com/index/2019/06/20/10-58-01-525_1440x480.jpg");
	/* background: no-repeat; */
	/* background-size: cover; */

.header{
	background: url("https://cdn.pixabay.com/index/2019/06/20/10-58-01-525_1440x480.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
}
.header .bg-light {
	background-color: transparent !important;

}
.header .navbar-light .navbar-nav .nav-link {

	color: white;
}

.header a {
	color: #fff;
}
.header .navbar-light .navbar-nav .nav-link a:hover {
	text-decoration: underline;
	color: coral;
}
p{
	color: #fff;
}
h5 {
	font-size: 1.25rem;
	color: white;
}
h9 {
	color: white;
}

.header .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header .logo{
	margin-top: 0px;
	padding-top: 0px;
}

h9 a:hover {
 color: goldenrod;
} 
/******************************************************************content************************************************************************/
.content{
	width: 100%;
}

.content .img{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.txt {
  width: 87%;
  /*height: 100%;  full cả ảnh */
  background-color: black;
  position: absolute;
  bottom:70px;
  text-align: center;
  color: white;
  padding:10px;
  box-sizing: border-box;
  opacity: 0;
}
.img:hover div.txt {
  opacity: 0.5;
  transform: translateY(53px);
  transition:ease-in-out 0.5s;
}


/*************************************************************footer**************************************************************************/
.footer{
	background-color: black;
}
address {
  color: #fff;
  display: inline-block;
}
.footer .principal .slogan{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
}
address span {
  font-weight: 600;
}
address a {
  color: #fff;
}
address a:hover {
  text-decoration: underline;
}
li{
	float: left;
	padding: 10px;
}
.footer.poeple p{
	float: right;
	bottom: 0px;
	padding-right: 0px;
}
/***********************************************************introduce****************************************************************/

.header-intro{
	background: url("https://cdn.pixabay.com/photo/2019/06/07/10/44/sunset-4257963__340.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
}
.header-intro .bg-light {
	background-color: transparent !important;

}
.header-intro .navbar-light .navbar-nav .nav-link {

	color: white;
}
.header-intro a {
	color: #fff;
}

.header-intro .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header-intro .logo{
	margin-top: 0px;
	padding-top: 0px;
}

.conten-intro{
	padding-top: 50px;
}
.bt-intro Button{
width: 100%;
background-color: darkgreen;
	margin-top: 90px
}

.img-intro{
	margin-top: 90px
}
.footer-intro{
	margin-top: 20px;
}
.footer-intro Button{
	background-color: darkgreen;
}
.nav-link {
	color: white;
}
.text-content Button{
	background-color: darkgreen;
}

/* .txt { */
  /* width: 100%;
  height: 100%;  full cả ảnh */
  /* background-color: black;
  position: absolute;
  bottom:70px;
  text-align: center;
  color: white;
  padding:10px;
  box-sizing: border-box;
  opacity: 0;
}
.img:hover div.txt {
  opacity: 0.5;
  transform: translateY(53px);
  transition:ease-in-out 0.5s;
} */

/***********************************************************help********************************************************************************/
.header-help{
	background: url("https://cdn.pixabay.com/photo/2019/06/12/11/03/boat-4269033__340.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
}
.header-help .bg-light {
	background-color: transparent !important;

}
.header-help .navbar-light .navbar-nav .nav-link {

	color: white;
}
.header-help a {
	color: #fff;
}

.header-help .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.header-help .logo{
	margin-top: 0px;
	padding-top: 0px;
}

.conten-Help{
	margin-top: 20px;
}

/*****************************************************************************contact*************************************************************************/
.Contact-header{
	background: url("https://cdn.pixabay.com/photo/2019/06/25/04/40/light-4297386__340.jpg");
	/* background: no-repeat; */
	background-size: cover;
	flex-flow: 1;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 500px;
}
.Contact-header .bg-light {
	background-color: transparent !important;

}
.Contact-header .navbar-light .navbar-nav .nav-link {

	color: white;
}
.Contact-header a {
	color: #fff;
}

.Contact-header .searchButton{
	background-color: #fff;
	border-radius: 2px;	
}
.Contact-header .logo{
	margin-top: 0px;
	padding-top: 0px;
}
.contact-text{
	padding-top: 90px;
}
.conten-Help Button{
	background-color:green;
}

/************************************************************hiieu úng cho hình ảnh *****************************************/

/* .imge-introduce {
	width: 500px;
	height: 450px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}

.imge-introduce img {
	width: 100%;
	height: 100%;
	transition-duration: 0.3s;
}

.imge-introduce img:hover {
	transform: scale(1.2);
} */