
.body{
  width: 100%;
  background-color: rgb(226, 145, 195);
  height: 20px;
  bottom: 0%;
  margin-right: 5px;
}
 .time {
   float:right;
   color: #ebebeb;
   font-size: 15px;
   right: -15px;
   position: absolute;
   padding-right: 20px;

  }